@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This app started as an Azure DevOps Project with code in Azure Repos but, was modified to pull code from GitHub instead.</p>
